extends layout

mixin order(id, customer, value, details, status, created_at, updated_at)
    th(scope="row")=id
    if session.admin
        td=customer
    td=value + "zł"
    td=details
    if status == 'Przetwarzanie'
        td
            span.badge.badge-info=status
    else
        td
            span.badge.badge-success=status
    td=moment(created_at).format("HH:mm DD/MM/YY")
    td=moment(updated_at).format("HH:mm DD/MM/YY")
    if session.admin && status == 'Przetwarzanie'
        td
            a.btn.btn-success(href="/orders/change_status/"+id role="button") Zmień status na wysłane

block content
    .row
        table.table
            tr
                th ID
                if session.admin
                    th Klient_ID
                th Wartość
                th Szczegóły
                th Status
                th Data zamówienia
                th Ostatnia aktualizacja
                if session.admin
                    th=""
                each order in orders 
                    tr
                        +order(order.id, order.customer, order.value, order.json, order.status, order.created_at, order.updated_at)
                